<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="./assets/icon/uvs.PNG"/>
  <div>
    <p>GESTION DES ETUDIANTS</p>
  </div>

  <ion-button href="/insertion" expand="block"  color="success" >Insérer</ion-button>
  <ion-button href="/affichage" expand="block"  color="success" >Afficher</ion-button>
  <ion-button href="/modification" expand="block"  color="success" >Modifier</ion-button>
  <ion-button href="/modification" expand="block"  color="success" >Supprimer</ion-button>

</ion-content>