<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" ></ion-back-button>
      </ion-buttons>
    <ion-title>insertion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="./assets/icon/uvs.PNG"/>
  <div>
    <p>INSERTION ETUDIANT</p>
  </div>
  <ion-item>
    <ion-label>Nom: </ion-label>
    <ion-input type="text" placeholder="votre nom" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Prénom: </ion-label>
    <ion-input type="text" placeholder="votre prénom" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Filière: </ion-label>
    <ion-input type="text" placeholder="votre filière" ></ion-input>
  </ion-item>
  
    <ion-button href="/insertion" expand="block"  color="danger" >Annuler</ion-button>
    <ion-button href="/affichage" expand="block"  color="success" >Insérer</ion-button>
    

</ion-content>
