ion-content{
    justify-content: center;
    
}
ion-title{
    font-style:italic; 
    font-weight: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
ion-button{
    display: inline-block;
    justify-content: center;
}
div{
    justify-content: center;
    border:2px solid rgb(1, 1, 8);
    background-color: blue;
    
}
p{
    font-weight: 100px;
    text-align: center;
    font-style: normal;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

