<ion-header>
  <ion-toolbar>
    <ion-title>connection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="./assets/icon/uvs.PNG"/>
  <div>
    <p>CONNECTION</p>
  </div>
  <ion-item>
    <ion-label>UTILISATEUR: </ion-label>
    <ion-input type="text" placeholder="utilisateur" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>MOT DE PASSE: </ion-label>
    <ion-input type="password" placeholder="mot de passe"></ion-input>
  </ion-item>
  
    <ion-button href="/home" expand="block"  color="success">conexion</ion-button>
    <ion-button href="/gestion" expand="block"  color="primary" >Annuler</ion-button>
</ion-content>
